html {
  font-size: 15px;
}
.container {
  display: flex;
  height: 26em;
  width: 50em;
  color: hsla(0, 0%, 100%, 0.75);
  font-family: "Lexend Deca", sans-serif;
  border-radius: 1rem;
}
body {
  font-size: 15px;
  margin: 6rem 25%;
  border-radius: 10px;
}
svg {
  margin: 2em;
}
h3 {
  font-size: 2em;
  margin: 1em;
}
.sedans {
  background-color: hsl(31, 77%, 52%);
  border-radius: 1rem 0 0 1rem;
}
.suv {
  background-color: hsl(184, 100%, 22%);
}
.luxury {
  background-color: hsl(179, 100%, 13%);
  border-radius: 0 1rem 1rem 0;
}
p {
  margin: 30px;
  font-size: 0.9rem;
  font-weight: 0.5rem;
}
button {
  padding: 1em;
  width: 10em;
  border: 1px;
  border-radius: 30px;
  margin-top: 0.2em;
  margin-left: 4em;
}
.sedans button {
  color: hsl(31, 77%, 52%);
}
.sedans button:hover {
  background-color: hsl(31, 77%, 52%);
  border: 2px solid #fff;
  color: #fff;
}
.suv button {
  color: hsl(184, 100%, 22%);
}
.suv button:hover {
  background-color: hsl(184, 100%, 22%);
  border: 2px solid #fff;
  color: #fff;
}
.luxury button {
  color: hsl(179, 100%, 13%);
}
.luxury button:hover {
  background-color: hsl(179, 100%, 13%);
  border: 2px solid #fff;
  color: #fff;
}
@media (max-width: 400px) {
  .container {
    display: flex;
    flex-direction: column;
    height: 10em;
    width: 20em;
    margin: auto;
  }
  body {
    font-size: 15px;
    margin: 3em 1%;
  }
  button {
    margin: 1rem 0 1rem 2rem;
  }
  .sedans {
      border-radius: 1rem 1rem 0 0;
  }
  .luxury {
      border-radius: 0 0 1rem 1rem;
  }
  h3{
    /* border: 1px solid green; */
    margin-top: .5rem;
  }
  svg{
    /* border: 1px solid green; */
    margin-bottom: 0;
  }
  button{
    margin-bottom: 3rem;
  }
}
